Build
Build.Old
bin
obj
Debug
Release
*.suo
*.user
*.userprefs
*.pidb
*.orig
Snowball.Net.xml
ipch
*.sdf
*.opensdf
Source/TestResults/*
test-results
Source/AssemblyInfo.*.cs
~$*
TestResults
.vs
storage.ide
lcov.info
cmake-build-*
.DS_Store
.idea